{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Welcome to the Home Page!</h1>
    <p>This is a simple home page for your e-commerce application.</p>
    <p>Feel free to customize it as needed.</p>
    <p>Current date and time: {{ "now"|date("Y-m-d H:i:s") }}</p>
{% endblock %}
