{% extends 'base.html.twig' %}

{% block title "Product : " ~ product.title %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello ✅</h1>
    <p>Product ID: {{ product.id }}</p>
    <p>Product: {{ product.title }}</p>
    <p>Product size: {{ product.size }}</p>
</div>
{% endblock %}
